# This workflow will install dependencies, check for dependency version consistency, build all packages in the repo, and run tests
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Admin Components React CI

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - run: |
          set -e
          export BROWSERSLIST_IGNORE_OLD_DATA=1

          echo 'Installing...'
          node common/scripts/install-run-rush.js install

          echo 'Checking Changes...'
          node common/scripts/install-run-rush.js change -v

          echo 'Building...'
          node common/scripts/install-run-rush.js rebuild

          echo 'Testing...'
          node common/scripts/install-run-rush.js test --verbose

