# This workflow will install dependencies, check for dependency version consistency, build all packages in the repo, and run tests
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Admin Components React Publish

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - run: |
          set -e

          npm config set @bentley:registry pkgs.dev.azure.com/bentleycs/_packaging/Packages/npm/registry/
          npm config set //pkgs.dev.azure.com/bentleycs/_packaging/Packages/npm/registry/:username Default
          npm config set //pkgs.dev.azure.com/bentleycs/_packaging/Packages/npm/registry/:_password $NPM_ENCODED
          npm config set //pkgs.dev.azure.com/bentleycs/_packaging/Packages/npm/registry/:email user@bentley.com
          npm config set //pkgs.dev.azure.com/bentleycs/_packaging/Packages/npm/registry/:always-auth true
          npm config set //pkgs.dev.azure.com/bentleycs/_packaging/Packages/npm/:username Default
          npm config set //pkgs.dev.azure.com/bentleycs/_packaging/Packages/npm/:_password $NPM_ENCODED
          npm config set //pkgs.dev.azure.com/bentleycs/_packaging/Packages/npm/:email user@bentley.com
          npm config set //pkgs.dev.azure.com/bentleycs/_packaging/Packages/npm/:always-auth true

          echo 'Installing...'
          node common/scripts/install-run-rush.js install
        
          echo 'Building...'
          node common/scripts/install-run-rush.js rebuild
             
          echo 'Publishing...'
          git config user.name "iTwinAdminWorkflow"
          git config user.email "itwinadmin@users.noreply.github.com"
          node common/scripts/install-run-rush.js version --bump --target-branch main
          node common/scripts/install-run-rush.js publish --registry https://pkgs.dev.azure.com/bentleycs/_packaging/Packages/npm/registry/ --include-all --set-access-level public --apply --publish --target-branch main 
        env:
          NPM_ENCODED: ${{ secrets.ADO_PAT }}
          NPM_TOKEN: ${{ secrets.PUBLISH_PAT }}
