# Node.js
# Build a general Node.js project with npm.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
- main

pr: none

pool:
  vmImage: ubuntu-latest

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '10.x'
  displayName: 'Install Node.js'
  
- task: DownloadSecureFile@1
  name: GhItwinAdminComponents
  inputs:
    secureFile: GhItwinAdminComponents
- task: InstallSSHKey@0
  inputs:
   knownHostsEntry: ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEAq2A7hRGmdnm9tUDbO9IDSwBK6TbQa+PXYPCPy6rbTrTtw7PHkccKrpp0yVhp5HdEIcKr6pLlVDBfOLX9QUsyCOV0wzfjIJNlGEYsdlLJizHhbn2mUjvSAHQqZETYP81eFzLQNnPHt4EVVUh7VfDESU84KezmD5QlWpXLmvU31/yMf+Se8xhHTvKSCZIFImWwoG6mbUoWf9nzpIoaSjB+weqqUUmpaaasXVal72J+UX2B+2RPW3RcT0eOzQgqlJL3RKrTJvdsjE3JEAvGq3lGHSZXy28G3skua2SmVi/w4yCE6gbODqnTWlg7+wC604ydGXA8VJiS5ap43JXiUFFAaQ==
   sshPublicKey: $(PUBLIC_KEY)
   sshKeySecureFile: GhItwinAdminComponents
  env:
    PUBLIC_KEY: $(PUBLIC_KEY)

- script: npm config set @bentley:registry pkgs.dev.azure.com/bentleycs/_packaging/Packages/npm/registry/
  displayName: 'NPM config set registry'

- script: npm config set //pkgs.dev.azure.com/bentleycs/_packaging/Packages/npm/registry/:username Default
  displayName: 'NPM config set username'

- script: npm config set //pkgs.dev.azure.com/bentleycs/_packaging/Packages/npm/registry/:_password $NPM_TOKEN
  displayName: 'NPM config set password'
  env: 
    NPM_TOKEN: $(ENCODED_NPM_PAT)
          
- script: npm config set //pkgs.dev.azure.com/bentleycs/_packaging/Packages/npm/registry/:email user@bentley.com
  displayName: 'NPM config set email'

- script: npm config set //pkgs.dev.azure.com/bentleycs/_packaging/Packages/npm/registry/:always-auth true
  displayName: 'NPM config set always auth'
          
- script: npm config set //pkgs.dev.azure.com/bentleycs/_packaging/Packages/npm/registry/:always-auth true
  displayName: 'NPM config set always auth'

- script: npm config set //pkgs.dev.azure.com/bentleycs/_packaging/Packages/npm/:username Default
  displayName: 'NPM config set username packages'

- script: npm config set //pkgs.dev.azure.com/bentleycs/_packaging/Packages/npm/:_password $NPM_TOKEN
  displayName: 'NPM config set password packages'
  env: 
    NPM_TOKEN: $(ENCODED_NPM_PAT)

- script: npm config set //pkgs.dev.azure.com/bentleycs/_packaging/Packages/npm/:email user@bentley.com
  displayName: 'NPM config set email packages'

- script: npm config set //pkgs.dev.azure.com/bentleycs/_packaging/Packages/npm/:always-auth true
  displayName: 'NPM config set always auth packages'

- script: node common/scripts/install-run-rush.js install
  displayName: 'rush install'

- script: node common/scripts/install-run-rush.js rebuild
  displayName: 'rush rebuild'

- script: npm config delete //pkgs.dev.azure.com/bentleycs/_packaging/Packages/npm/registry/:username
  displayName: 'NPM config delete username'

- script: npm config delete //pkgs.dev.azure.com/bentleycs/_packaging/Packages/npm/registry/:password
  displayName: 'NPM config delete password'

- script: npm config delete //pkgs.dev.azure.com/bentleycs/_packaging/Packages/npm/:username
  displayName: 'NPM config delete packages username'

- script: npm config delete //pkgs.dev.azure.com/bentleycs/_packaging/Packages/npm/:password
  displayName: 'NPM config delete packages password'

- script: git config --local user.name "iTwinViewerWorkflow"
  displayName: 'git config username'

- script: git config --local user.email "itwinviewer@users.noreply.github.com"
  displayName: 'git config email'

- script: git config --global url."git@github.com:".insteadOf "https://github.com/"
  displayName: 'git config ssh'
  
- script: node common/scripts/install-run-rush.js version --bump --target-branch main 
  displayName: 'rush version'

- script: node common/scripts/install-run-rush.js publish --include-all --set-access-level public --apply --publish --registry https://pkgs.dev.azure.com/bentleycs/_packaging/Packages/npm/registry/ --npm-auth-token $ADMIN_TOKEN --target-branch main 
  displayName: 'rush publish'
  env: 
    NPM_TOKEN: $(NPM_PAT)
    ADMIN_TOKEN: $(System.AccessToken)


